<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SchroniskaTurystyczne</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SchroniskaTurystyczne.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7U4/Q5x5WE5Bt5WE+03O12Rb5oEw5+qbyQK" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-8zc8BG/Dk5r0HZ5tA/4W8HhweOf4h5Vt0MBiPrr6vHJo+5SzfBdOztD5OTf7jtXT" crossorigin="anonymous"></script>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.js"></script>
    <link href="https://unpkg.com/maplibre-gl@2.4.0/dist/maplibre-gl.css" rel="stylesheet" />
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-darkcyan border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Logo i nazwa strony -->
                <a class="navbar-brand title-name" asp-area="" asp-controller="Shelters" asp-action="Index">
                    Schroniarz.pl
                </a>

                <!-- Przycisk nawigacyjny dla widoku mobilnego -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Elementy nawigacji -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto">
                        <!-- Sekcja Dla Gości -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="guestDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Dla gości
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="guestDropdown">
                                <li><a class="dropdown-item" href="/Shelters/Index">Lista schronisk</a></li>
                                <li><a class="dropdown-item" asp-controller="Shelters" asp-action="CreateRoute">Tworzenie trasy</a></li>
                                <li><a class="dropdown-item" asp-controller="Routes" asp-action="UserRoutes">Twoje trasy</a></li>
                            </ul>
                        </li>

                        <!-- Sekcja Dla Właścicieli -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="ownerDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Dla właścicieli
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="ownerDropdown">
                                <li><a class="dropdown-item" href="/Shelters/Create">Dodaj schronisko</a></li>
                            </ul>
                        </li>

                        <li style="color: white;" class="nav-item">
                            <a style="color: white;" class="nav-link" href="/Map/MapView">
                                Mapa schronisk
                            </a>
                        </li>
                    </ul>

                    <!-- Sekcja użytkownika i zaloguj -->
                    <div class="d-flex align-items-center">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SchroniskaTurystyczne - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
