@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2>Profil użytkownika <strong>@User.Identity.Name</strong></h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}

<style>
    .btn-primary {
        background-color: darkcyan !important;
        border-color: darkcyan !important;
    }

    a {
        color: black;
    }

    .nav-link.active, .nav-link:hover, .nav-link:focus {
        color: white !important;
    }

    h1, h2, h3, .navbar, .bg-primary, .text-primary {
        color: black !important;
    }
</style>