@using SchroniskaTurystyczne.Models
@inject SignInManager<AppUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profil</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Hasło</a></li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.UserReservationsNavClass(ViewContext)" asp-page="./UserReservations">Moje rezerwacje</a>
    </li>
</ul>

<style>
    .nav-pills .nav-link.active{
        background-color: darkcyan;
        color: white;
    }

    .nav-pills .nav-link:focus,
    .nav-pills .nav-link:hover{
        background-color: #72b1b0;
        color: black;
    }

    .nav-link {
        color: black;
    }
</style>